// 01 - Base

$primary-color: #E3E85A;
$secondary-color: green;

body {
  background: url('/assets/bg.png');
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
  a {

  }
}

// 02 - Layout
.l-log-in {
  h2, label {
    color: white;
  }
  h2 {
    margin-bottom: 2rem;
  }

  &.btn {
    margin: 2rem 0;
  }
}

.l-show-place {
  * {
    color: white;
  }
}

#map-canvas {
  min-height: 350px;
  margin-bottom: 2rem;
}

// 03 - Modules

.m-place-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-bottom: 2rem;
  padding: 1.5rem;
  h1 {
    // margin-bottom: 1rem;
  }
  .subheader {
    margin-bottom: 1rem;
    color: gray;
  }
}

.navbar {
  border-radius: 0;
  background-color: black;
  box-shadow: 0px 1px 3px #000;

  .navbar-brand {
    color: $primary-color;
    font-weight: 700;
    font-size: 2rem;
  }
}

.m-pagination-links {
  text-align: center;
  padding: 1em;
  cursor: default; 
  font-size: 2rem;
  a, span {
    padding: 0.2em 0.3em; 
  }
  .disabled {
    color: white; 
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background-color: $primary-color;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    border-radius: 1em;
  }
  a {
    text-decoration: none;
    color: white; 
    &:hover, :focus {
      text-decoration: underline;
    }
  }
}

// 04 - States

// 05 - Themes